@import "tailwindcss";

@theme {
  --font-openSans: var(--font-openSans);
  --font-playfairDisplay: var(--font-playfairDisplay);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #006af1;
  --secondary: #ffa722;
  --primary-muted: #bedbff;
  /* --secondary-muted: #FFA722; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #006af1;
    --secondary: #ffa722;
    --primary-muted: #bedbff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
