@import "tailwindcss";

@theme {
  --font-openSans: var(--font-openSans);
  --font-playfairDisplay: var(--font-playfairDisplay);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-muted: var(--primary-muted);
  --color-muted: var(--muted);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #006af1;
  --secondary: #ffa722;
  --primary-muted: #bedbff;
  --muted: #d9d9d9;
  /* --secondary-muted: #FFA722; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #006af1;
    --secondary: #ffa722;
    --primary-muted: #bedbff;
    --muted: #d9d9d9;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--foreground);
  background: var(--background);
}

.infinite-scroll {
  animation: marquee 30s linear infinite reverse;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 40px));
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}